<!-- 
<H1>Members Only</H1> -->

<!-- header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Website Header</title>
  <!-- <link rel="stylesheet" href="/path/to/bootstrap.css"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">

</head>
<body>
  <header >
    <!-- Header content goes here -->
    <h1>Members Only</h1>
    
 
  </header>
</body>
</html>
