<!DOCTYPE html>

<html>
  <head>
    <style type="text/css">
      body {
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1 {
        color: white;
      }
      a {
        color: white;
      }
      li {
        color: white;
      }
    </style>
    <h1>You are logged out.</h1>

    <br />
  </head>
  <body>
    <a href="/login">login</a>
    <br />
    <a href="/">home</a>
  </body>
</html>
