  <!DOCTYPE html>
  <html>
    <head>
      <title>Members Page</title>
      <style>
        body {
          background-image: url("<%= backgroundImage %>");
          background-repeat: no-repeat;
          background-size: cover;
          background-color: black;
        }
        h1 {
          color: white;
        }
        a {
          color: white;
        }
        li {
          color: white;
        }
      </style>
    </head>
    <body>
       <%- include('partials/header.ejs'); %>
      <h1>Welcome, <%= username %>!</h1>

      <br />
      <a href="/logout">Logout</a>
    </body>
     <%- include('partials/footer.ejs'); %>
  </html>
